<!DOCTYPE html>
<html>
<head>
    <title>详细信息</title>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/detail.js' %}"></script>
     <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
     <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 
    <style>
        body
        {
            /* background-color:#b0c4de; */
        }
    </style>
</head>
<body>
    <div style="position:absolute; left: 100px; right: 100px;">
    <table class="table">
            <caption>购物车商品列表</caption>
           <thead>
              <tr>
                <th>名称</th>
                <th>数量</th>
                <th>单价</th>
              </tr>
           </thead>
           <tbody>
                {% for name,num in content.items %}  
                 <tr>
                    <td>{{name}}</td>
                    <td>{{num}}</td>
                    {% for bookname,pri in price.items %}
                        {% if bookname == name %}
                        <td>{{pri}}</td>
                        {% endif %}
                    {% endfor %}
                 </tr>
                {% endfor %}
           </tbody>
    </table>
    <hr>
    总额：<span>{{price_sum}}</span> 元
    </div>
</body>
</html>