<!DOCTYPE html>
<html>
<head>
    <title>购物车</title>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
     <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div style="position:absolute; left: 100px; right: 100px;">
    <table class="table">
            <caption>购物车商品列表</caption>
           <thead>
              <tr>
                <th>名称</th>
                <th>数量</th>
                <th>单价</th>
                <th>操作</th>
              </tr>
           </thead>
           <tbody>
                {% for name,num in content.items %}  
                 <tr>
                    <td>{{name}}</td>
                    <td>{{num}}</td>
                    {% for bookname,pri in price.items %}
                        {% if bookname == name %}
                        <td>{{pri}}</td>
                        {% endif %}
                    {% endfor %}
                    <td><input class="Select" type="button" value="删除"></td>
                 </tr>
                {% endfor %}
           </tbody>
    </table>
    <hr>
    总额：<span>{{price_sum}}</span> 元
    </div>
</body>
</html>