<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>图书商城</title>
    {% load staticfiles %}
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="/">图书商城</a>
            </div>
        
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/literature_kind">文学</a></li>
                    <li><a href="/success_kind">励志</a></li>
                    <li><a href="/history_kind">历史</a></li>
                    <li><a href="/child_kind">儿童</a></li>
                </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" action="/search" method="post">
                {% csrf_token %}
                <div class="form-group">
                <input type="text" class="form-control" placeholder="搜索" name="book_name">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/cart">购物车</a></li>
                <li><a href="/history">浏览历史</a></li>
                <!-- 如果用户登陆过，则显示用户名，否则显示登陆 Ajax-->
                <li><a id="id_login" href="/login"> </a></li>  
                <li><a href="/regist">注册</a></li>
                <li><a href="/logout">退出</a></li>
                <li><a href="/admin">后台管理</a></li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="row">
            {% for book in book_list%}
            <div class="col-xs-6 col-md-3">
              <a href="/{{book.id}}/" class="thumbnail">
                <img src="{{book.pic.url}}" alt="...">{{book.name}}
              </a>
            </div>
            {% endfor %}
    </div>

</body>
</html>