<!DOCTYPE html>
<html>

<head>
    <title>用户登陆</title>
    <meta charset="UTF-8">
    <style>
        body
        {
            background-color:#b0c4de;
        }
    </style>
</head>

<body>
    <div style="position:relative;left:500px;top:100px;width:800px;height:50px">
        <form action="/login_post" method="post">
                {% csrf_token %}
            用户：
            <input type="text" name="user">
            <br />
            <br />
            密码：
            <input type="password" name="password">
            <br />
            <br />
            <input type="submit" style="position:relative;left:110px;" value="登陆">
        </form>
    </div>
</body>
</html>